.pokeList {
  max-height: 600px;
  overflow: auto;
}
.pokemon {
  
}
.pokemon:nth-child(odd) {
}

.pokemon:hover {
  background-color: lightblue;
  cursor: pointer;
}

.btn:hover {
  color: red;
}

.pokeImage {
  background-color:white;
  border-radius: 50%;
  height: 40px;
  margin: 0 25px;
}
.searchBox {
  height: 25px;
  border-radius: 5px;
  border: red;
}
.searchBox:focus {
  box-shadow: none;
  border: red;
}
.searchBox:focus::-webkit-input-placeholder {
  color: transparent;
}
.border {
  border: 1px solid black;
}