.container  {
  margin: 0;
}
.pokeList {
  max-height: 630px;
  overflow: auto;
}
.selected {
  background-color: lightgrey;
}
.pokemon:hover {
  background-color: lightblue;
  cursor: pointer;
}

.btn:hover {
  color: red;
}

.pokeImage {
  background-color:white;
  border-radius: 3px;
  height: 65px;
}
.pokeImage:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.searchBox {
  height: 25px;
  border: 1px solid lightgrey;
  width: 100%
}
.searchBox:focus {
  outline: none;
  
}
.searchBox:focus::-webkit-input-placeholder {
  color: transparent;
}


.infoPage {
  /* background-image: linear-gradient(to right, #78C750, #A040A0); */
}
.infoImageDiv {
  height: 200px;
}
.infoImage {
  height: 100%
}
.info {
  display: flex;
  justify-content: space-between;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.types {

}
.games {
  overflow: auto;
  max-height: 187px;
}
.abilities { 
  cursor: pointer;
}
.moves { 
  cursor: pointer;
}
.movesDiv {
  overflow: auto;
  display: flex;
}
.loadingBall {
  display: flex;
  flex-direction: center;
}
.border {
  border: 1px solid black;
}